"*":
  "atom-beautify":
    js:
      beautify_on_save: true
      break_chained_methods: true
      default_beautifier: "ESLint Fixer"
    json:
      beautify_on_save: true
    typescript:
      beautify_on_save: true
  "atom-ide-ui":
    use:
      "atom-ide-diagnostics-ui": false
  core:
    telemetryConsent: "no"
    uriHandlerRegistration: "always"
  editor:
    fontSize: 16
  "exception-reporting":
    userId: "2a1ab0da-2423-4edc-b34b-ec51816a288c"
  minimap:
    displayCodeHighlights: false
  welcome:
    showOnStartup: false
